:root {
  --c1: #33393f;
  --bc1: #2aef7650;
  --bc2: #72310b85;
  --bc3: #ff4747;
}
/* linear gradient settings taken from bootcamp CSS snippet cheatsheet */
body {
  background-image: linear-gradient(
    var(--bc2),
    var(--bc1)
  );
}

/* .pulse {
    background-color: rebeccapurple;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    animation-iteration-count: 100;
    animation-name: fadeInOut;
    animation-duration: 0.7s;
} */

  /* @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    } */

/*
  animation: infinite;
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
} */

/* Font-Family settings taken from https://github.com/r134x7/HW01-Code-Refactor */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* background-color: var(--bc3); */

  color: #ffffff;
  background-image: linear-gradient(
    45deg,
    var(--bc3),
    var(--bc1)
  );

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Settings taken from https://github.com/r134x7/HW01-Code-Refactor */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Settings taken from https://github.com/r134x7/HW01-Code-Refactor */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}

/* Settings taken from https://github.com/r134x7/HW01-Code-Refactor */
header ul, header a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  list-style-type: none;
  color: #ffffff;
  text-decoration: none;
}

/* Settings taken from https://github.com/r134x7/HW01-Code-Refactor */
header li {
  display: inline-block;
  margin-left: 25px;
}

#c1 {
  box-sizing: content-box;
  width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#c2 {
  box-sizing: content-box;
  width: 300px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-size: 40px;
  padding: 2em 2em 2em 0em;
  float: left;
  position: relative;
  /* left: 10px;
  top: 10px; */
}

h3 {
  font-size: 40px;
  padding: 2em 1em 2em 1em;
  float: left;
  position: relative;
  /* left: 10px;
  top: 10px; */
}

h4 {
  font-size: 40px;
  padding: 2em 2em 2em 1em;
  float: left;
  position: relative;
  /* left: 10px;
  top: 10px; */
}

h5 {
  font-size: 40px;
  padding: 2em 2em 2em 1em;
  float: left;
  position: relative;
  /* left: 10px;
  top: 10px; */
}

#about1 {
  text-align: left;
  padding: 3em;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

#about2 {
  margin: 25px 25px 25px 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  list-style-type: none;
  color: #ffffff;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    var(--bc3),
    var(--bc1)
  );
}

/* Settings taken from https://github.com/r134x7/HW01-Code-Refactor */
p {
  font-size: 16px;
}

.works {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#worksimg1 {
  box-sizing: border-box;
  width: 100%;
  float: right;
  position: relative;
  border: solid #33393f;
  margin: 0px 0px 20px 35px;
}
/* box shadow settings taken from bootcamp CSS snippet cheatsheet */
#worksimg1:hover {
  image-rendering: pixelated;
  box-shadow: inset 8px 8px 8px rgb(77, 43, 43), 0 0 15px rgb(255, 0, 0);
}

#worksimg2 {
  box-sizing: border-box;
  width: 100%;
  float: right;
  position: relative;
  margin: 0px 0px 20px 35px;
  border: solid #33393f;
}

#worksimg2:hover {
  image-rendering: pixelated;
  box-shadow: inset 8px 8px 8px rgb(77, 43, 43), 0 0 15px rgb(255, 0, 0);
}

#worksimg3 {
  box-sizing: border-box;
  width: 100%;
  float: right;
  position: relative;
  margin: 0px 0px 20px 35px;
  border: solid #33393f;
}

#worksimg3:hover {
  image-rendering: pixelated;
  box-shadow: inset 8px 8px 8px rgb(77, 43, 43), 0 0 15px rgb(255, 0, 0);
}

#worksimg4 {
  box-sizing: border-box;
  width: 100%;
  float: right;
  position: relative;
  margin: 0px 0px 20px 35px;
  border: solid #33393f;
}

#worksimg4:hover {
  image-rendering: pixelated;
  box-shadow: inset 8px 8px 8px rgb(77, 43, 43), 0 0 15px rgb(255, 0, 0);
}

#worksimg5 {
  box-sizing: border-box;
  width: 100%;
  float: right;
  position: relative;
  margin: 0px 0px 20px 35px;
  border: solid #33393f;
}

#worksimg5:hover {
  image-rendering: pixelated;
  box-shadow: inset 8px 8px 8px rgb(77, 43, 43), 0 0 15px rgb(255, 0, 0);
}

.videos {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#videoimg1 {
  box-sizing: content-box;
  width: 100%;
  float: right;
  position: relative;
  border: solid #33393f;
  margin: 0px 0px 20px 35px;
}

#videoimg1:hover {
  image-rendering: pixelated;
  box-shadow: inset 8px 8px 8px rgb(77, 43, 43), 0 0 15px rgb(255, 0, 0);
}

/* Settings taken from https://github.com/r134x7/HW01-Code-Refactor */
.contact nav, .contact ul, .contact a {
  padding-top: 30px;
  margin-right: 20px;
  margin-left: 25px;
  margin-bottom: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  list-style-type: none;
  color: #ffffff;
  text-decoration: underline;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact li {
  background-color: #33393f;
}

@media screen and (max-width: 2560px) {
  .works, .videos, .contact {
    width: 50%;
  }
}

@media screen and (max-width: 1900px) {
  .works, .videos, .contact {
    width: 66%;
  }
}

@media screen and (max-width: 1300px) {
  .works, .videos, .contact {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .works, .videos, .contact {
    width: 90%;
  }
}